<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Pagina Acquisto</title>
    <link rel="stylesheet" href="css/acquisto.css">

</head>
<body>
    <h1>ACQUISTI</h1>

    <div class="ricerca-aste">
        <h2>Ricerca aste</h2>
        <form method="get" th:action="@{/Acquisto}">
            <label for="parolaChiave">Parola chiave:</label>
            <input type="text" id="parolaChiave" name="parolaChiave">
            <button type="submit">Cerca</button>
        </form>
    </div>
    <div class="aste-aperte">
    <h2>ASTE APERTE TROVATE</h2>
    <table>
    <thead>
        <tr>
            <th>ID Asta</th>
            <th>Articoli</th>
            <th>Scadenza</th>
            <th>Tempo Mancante</th>
            <th>offerte</th>
        </tr>
    </thead>
    <tbody>

        <tr th:each="asta : ${articolixAsta}">

            <td th:text="${asta.key.id}"></td>


            <td th:inline="text">
                <div th:each="articolo : ${asta.value}">
                    [[${articolo.codice}]] - [[${articolo.nome}]]
                </div>
            </td>


            <td th:text="${dateFormattateMap.get(asta.key.id)}"></td>


            <td th:text="${tempoMancanteMap.get(asta.key.id)}"></td>



            <td>
                <a th:href="@{/OffertaServlet(id=${asta.key.id})}">Vai alla pagina offerte</a>
            </td>
        </tr>
    </tbody>
    </table>

    </div>


    <div class="aste-aggiudicate">
        <h2>ASTE AGGIUDICATE</h2>
        <table>
            <thead>
            <tr>
                <th>ID Asta</th>
                <th>Articoli</th>
                <th>Prezzo Finale</th>



            </tr>
            </thead>
            <tbody>

            <tr th:each="asta : ${articolixOfferta}">

                <td th:text="${asta.key.id}"></td>


                <td th:inline="text">
                    <div th:each="articolo : ${asta.value}">
                        [[${articolo.codice}]] - [[${articolo.nome}]]
                    </div>
                </td>

                <td th:text="${asta.key.prezzoAttuale} + ' €'"></td>


            </tr>
            </tbody>
        </table>






    </div>

</body>
</html>