<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Error</title>
    <style>
        .error-box {
            padding: 20px;
            background-color: #ffe0e0;
            border: 1px solid red;
            border-radius: 10px;
            width: 400px;
            margin: 50px auto;
            text-align: center;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<div class="error-box">
    <h2>Login Error</h2>
    <div th:switch="${loginError}">
        <p th:case="'loginFailed'">Your username or you password are incorrect</p>
        <p th:case="'dbInsertFailed'">Error saving data. Please try again later.</p>
        <p th:case="*">Unknown error occurred.</p>
    </div>
    <p><a th:href="index.html">Back to log page</a></p>
</div>
</body>
</html>