<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
	<meta charset="UTF-8">
	<title>Pagina Vendo</title>
	<link rel="stylesheet" th:href="@{/css/vendo.css}" />
</head>
<body>
<a th:href="@{/Home}" class="home-button">Home</a>
<h1>VENDITE</h1>

<div class="lista-aste-aperte">
	<h2>LISTA ASTE APERTE</h2>
	<table>
		<thead>
		<tr>
			<th>ID Asta</th>
			<th>Articoli</th>
			<th>Scadenza</th>
			<th>Tempo Mancante</th>
			<th>Offerta Max</th>
			<th>Dettagli</th>
		</tr>
		</thead>
		<tbody>

		<tr th:each="asteConArticoli : ${asteConArticoli}">

			<td th:text="${asteConArticoli.key.id}"></td>


			<td th:inline="text">
				<div th:each="articolo : ${asteConArticoli.value}">
					- [[${articolo.nome}]]
				</div>
			</td>


			<td th:text="${dateFormattateMap.get(asteConArticoli.key.id)}"></td>


			<td th:text="${tempoMancanteMap.get(asteConArticoli.key.id)}"></td>


			<td th:text="${asteConArticoli.key.prezzoAttuale} + ' €'"></td>

			<td>
				<a th:href="@{/DettaglioAsta(id=${asteConArticoli.key.id})}">Vai al dettaglio</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>

<div class="lista-aste-chiuse">
	<h2>LISTA ASTE CHIUSE</h2>
	<table>
		<thead>
		<tr>
			<th>ID Asta</th>
			<th>Articoli</th>
			<th>Prezzo Finale</th>
			<th>Dettagli</th>
		</tr>
		</thead>
		<tbody>

		<tr th:each="asteChiuseconArticoli : ${asteChiuseconArticoli}">

			<td th:text="${asteChiuseconArticoli.key.id}"></td>


			<td th:inline="text">
				<div th:each="articolo : ${asteChiuseconArticoli.value}">
					[[${articolo.nome}]]
				</div>
			</td>


			<td th:text="${asteChiuseconArticoli.key.prezzoAttuale} + ' €'"></td>

			<td>
				<a th:href="@{/DettaglioAsta(id=${asteChiuseconArticoli.key.id})}">Vai al dettaglio</a>
			</td>
		</tr>
		</tbody>
	</table>

</div>

<div class="form-container">
	<div class="form-creazione-articolo">
		<h2>Crea nuovo articolo</h2>
		<form action="CreaArticoloAsta" method="post" enctype="multipart/form-data">
			<input type="hidden" name="action" value="createArticolo"/>

			<div class="form-group">
				<label for="nome">Nome articolo:</label>
				<input type="text" id="nome" name="nome" required />
			</div>

			<div class="form-group">
				<label for="descrizione">Descrizione:</label>
				<textarea id="descrizione" name="descrizione" required></textarea>
			</div>

			<div class="form-group">
				<label for="prezzo">Prezzo:</label>
				<input type="number" id="prezzo" name="prezzo" min="0" step="0.01" required />
			</div>

			<div class="form-group">
				<label for="immagine">Immagine:</label>
				<input type="file" id="immagine" name="immagine" accept="image/*" required />
			</div>

			<button type="submit">Salva Articolo</button>
		</form>
	</div>

	<div class="form-creazione-asta">
		<h2>Crea nuova asta</h2>
		<form th:action="@{/CreaAsta}" method="post">
			<input type="hidden" name="action" value="createAsta"/>

			<fieldset>
				<legend>Seleziona uno o più articoli da mettere all'asta</legend>
				<div class="articoli-container">
					<div class="articolo-item" th:each="articolo : ${articoliDisponibili}">
						<input type="checkbox"
							   name="articoli"
							   th:value="${articolo.codice}"
							   id="articolo_${articolo.codice}"/>
						<label th:for="'articolo_' + ${articolo.codice}">
							<span th:text="${articolo.nome}"></span>
							(<span th:text="${articolo.prezzo}"></span> €)

						</label>
					</div>
				</div>
			</fieldset>

			<div class="form-group">
				<label for="rialzo">Rialzo minimo offerta (€):</label>
				<input type="number" id="rialzo" name="rialzo" min="1" required/>
			</div>

			<div class="form-group">
				<label for="scadenza">Scadenza Asta:</label>
				<input type="datetime-local" id="scadenza" name="scadenza" required/>
			</div>




			<button type="submit">Crea Asta</button>
		</form>
	</div>
</div>
</body>
</html>