@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;              
    justify-content: center;    
    gap: 30px;                  
}

nav a {
    display: inline-block;
    background-color: white;
    color: #4CAF50;
    padding: 20px 40px;          
    font-size: 20px;             
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid #4CAF50;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #45a049;
    color: white;
}
nav {
    margin-top: 100px; 
}


