<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0" id="WebApp_ID">

  <display-name>PureHTML</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>it.polimi.tiw.filters.AuthenticationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/Acquisto</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/ChiudiAsta</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/CreaArticoloAsta</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/CreaAsta</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/DettaglioAsta</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/DoOfferta</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/Home</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/Logout</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/OffertaServlet</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/ParolaChiave</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/Vendo</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/UploadImageServlet</url-pattern>
  </filter-mapping>

  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>org.mariadb.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mariadb://localhost:3306/tiw</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>TIW2025</param-value>
  </context-param>
  <context-param>
    <param-name>imagesDirectory</param-name>
    <param-value>C:\Users\fidel\OneDrive\Desktop\TIW\immaginiTIW</param-value>
  </context-param>

</web-app>